APSIM.Soils.Portal/Service References/ApsoilManageServiceReference/ApsoilManage1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RefreshDBTablesFromXML">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshDBTablesFromXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefreshDBTablesFromXMLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanOutDBTables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CleanOutDBTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CleanOutDBTablesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>